TestResults
TestsList
TestResult.xml

Thumbs.db
*.cache
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
bin/
obj/
Debug/
Release/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/
/.vs
*.ide
*.ide-shm
*.ide-wal
TestResults
